policy_module(kazugold, 1.100.1)

########################################
#
# Declarations
#

type kazugold_t;
type kazugold_exec_t;
init_daemon_domain(kazugold_t, kazugold_exec_t)

permissive kazugold_t;

type kazugold_initrc_exec_t;
init_script_file(kazugold_initrc_exec_t)

type kazugold_conf_t;
files_type(kazugold_conf_t)

type kazugold_var_lib_t;
files_type(kazugold_var_lib_t)

type kazugold_var_run_t;
files_type(kazugold_var_run_t)

type kazugold_port_t;
corenet_port(kazugold_port_t)

########################################
#
# kazugold local policy
#
allow kazugold_t self:process { fork };

allow kazugold_t self:fifo_file rw_fifo_file_perms;
allow kazugold_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(kazugold_t, kazugold_conf_t, kazugold_conf_t)
manage_files_pattern(kazugold_t, kazugold_conf_t, kazugold_conf_t)

manage_dirs_pattern(kazugold_t, kazugold_var_lib_t, kazugold_var_lib_t)
manage_files_pattern(kazugold_t, kazugold_var_lib_t, kazugold_var_lib_t)
files_var_lib_filetrans(kazugold_t, kazugold_var_lib_t, { dir file })

manage_dirs_pattern(kazugold_t, kazugold_var_run_t, kazugold_var_run_t)
manage_files_pattern(kazugold_t, kazugold_var_run_t, kazugold_var_run_t)

sysnet_dns_name_resolve(kazugold_t)
corenet_all_recvfrom_unlabeled(kazugold_t)

allow kazugold_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(kazugold_t)
corenet_tcp_sendrecv_generic_node(kazugold_t)
corenet_tcp_sendrecv_all_ports(kazugold_t)
corenet_tcp_bind_generic_node(kazugold_t)

gen_require(`
    type kazugold_port_t;
')
allow kazugold_t kazugold_port_t:tcp_socket name_bind;

gen_require(`
    type kazugold_port_t;
')
allow kazugold_t kazugold_port_t:tcp_socket name_connect;

domain_use_interactive_fds(kazugold_t)

files_read_etc_files(kazugold_t)

miscfiles_read_localization(kazugold_t)

sysnet_dns_name_resolve(kazugold_t)

allow kazugold_t kazugold_exec_t:file execute_no_trans;
allow kazugold_t self:process setsched;
corecmd_exec_ls(kazugold_t)
corenet_tcp_connect_http_port(kazugold_t)
dev_read_urand(kazugold_t)
fs_getattr_xattr_fs(kazugold_t)
kernel_read_system_state(kazugold_t)
